<div class="col-12 my-4" align="center">
        <div class="col-12 col-lg-4 mt-5">
            <p class="launch_details text-start text-wrap mt-4">
                <span class="h2"><%= parcel_machine.name %></span><br />
                <span class="text-muted">Zip Code:</span> <span class="fw-bold"><%= parcel_machine.zip %></span><br />
                <span class="text-muted">Address:</span> <span class="fw-bold"><%= parcel_machine.full_address %></span><br />
                <span class="text-muted">X Coordinate:</span> <span class="fw-bold"><%= parcel_machine.x_coordinate %></span><br />
                <span class="text-muted">Y Coordinate on:</span> <span class="fw-bold"><%= parcel_machine.y_coordinate %></span><br /> 
                <br />
            </p>
        </div>
</div>