<div class="container">
        <div class="d-flex flex-column align-items-center mt-4">
            <%= render 'searchbar' %>
            <%= link_to_csv %>
        </div>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">ZIP</th>
            <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            <% @parcel_machines.each do |pm| %>
                <tr>
                <td><%= link_to pm.name, pm %></td>
                <td><%= pm.zip %></td>
                <td><%= pm.full_address %></td>
                </tr>
            <% end %>  
        </tbody>
    </table>
    <div>
        <%= paginate @parcel_machines, theme: 'twitter-bootstrap-4',
                   pagination_class: "pagination-md justify-content-center",
                   nav_class: "d-inline-b" %>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <p><%= "<strong>Last Update:</strong> #{ Update.last.updated_at }".html_safe if Update.last %></p>
    </div>
</div>